# LLM Configuration
LLM_API_KEY=
LLM_MODEL_NAME=
LLM_PROVIDER=
LLM_MAX_TOKENS=4096
LLM_TEMPERATURE=0.0
LLM_REQUESTS_PER_MINUTE=5

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=false
BATCH_CONCURRENCY=5
